@import url(light-theme.css);
@import url(header.css);
@import url(profile.css);
@import url(about.css);
@import url(projects.css);
@import url(contacts-footer.css);
@import url(styles.css);

:root {
    --primary-color: #ff8a00;
    --light-color: #f8f8f8;
    --grey-color: #666;
}
::selection {
    background-color: #ff8a00; 
    color: #fff; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a; 
    color: #fff;
    line-height: 1.6;
}


main {
    padding: 2rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-bottom: 4rem;
}
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.4rem;
    color: #666;
}

.section {
    width: 100%;
    padding: 4rem 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-thumb {
    background-color: #ff8a00; 
    border-radius: 6px; 
}


.section.active {
  opacity: 1;
  transform: translateX(0);
}